@page
@model SchoolPerformanceTablesMock.Pages.Schools.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Search for schools, colleges and multi-academy trusts</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p>You can search for schools, colleges and multi-academy trusts in England and check their performance.</p>
        <p>
            <a href="#" class="govuk-link">What information can I find here?</a>
        </p>
        <form>
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" asp-for="SchoolId">
                    Enter school or college name
                </label>
                <partial name="_Autocomplete"/>
                <input type="submit" value="Search" asp-page="./Details" asp-route-id="@Model.SchoolId" class="govuk-button govuk-button--start" data-module="govuk-button"/>
            </div>
        </form>
    </div>
</div>
